//- /*a(href="#prompt-modal" rel="modal:open") Prompt*/

//- #prompt-modal.modal-hider
//- 	p Please choose player
//- 	button#choose-x(type="button") X
//- 	button#choose-o(type="button") O

.modal
	.modal-inner
		a(rel="modal:close") x
		.modal-content
